#regForm {
    padding: 2em;
    margin: auto;
    z-index: 1;
    border: 1px solid tomato;
}

.hidden {
    display: none;
}

.regButts {
    padding: 1em 2em;
}

.form {
    margin: 35px;

}

.article__card {
    border: 1px solid tomato;

}